<form [formGroup]="settingsForm" class="form-container" (ngSubmit)="restartGame()">
  <div>
    <div>
      <label class="label" for="fallingSpeed">Falling Speed: 1px in {{settingsForm.controls.fallingSpeed.value}}ms</label>
      <div>
        <input class="fld"
               (input)="updateSettings('fallingSpeed')"
               [class.invalid]="settingsForm.controls['fallingSpeed'].invalid && !settingsForm.controls.fallingSpeed.untouched"
               id="fallingSpeed" type="number" formControlName="fallingSpeed">
      </div>
    </div>
  </div>
  <div>
    <div>
      <label class="label" for="fallingFrequency">Frequency: 1 ball in {{settingsForm.controls['fallingFrequency'].value}}ms</label>
      <div>
        <input class="fld"
               (input)="updateSettings('fallingFrequency')"
               [class.invalid]="settingsForm.controls['fallingFrequency'].invalid && !settingsForm.controls.fallingFrequency.untouched"
               id="fallingFrequency" type="number" formControlName="fallingFrequency">
      </div>
    </div>
  </div>
  <div>
    <div>
      <label class="label" for="playerSpeed">Player Speed: {{settingsForm.controls.playerSpeed.value}}px in 10ms </label>
      <div>
        <input class="fld"
               (input)="updateSettings('playerSpeed')"
               [class.invalid]="settingsForm.controls.playerSpeed.invalid && !settingsForm.controls.playerSpeed.untouched"
               id="playerSpeed" type="number" formControlName="playerSpeed">
      </div>
    </div>
  </div>
  <div>
    <div>
      <label class="label" for="gameTime">Time left: {{getLeftTime() | async}}s / {{settingsForm.controls.gameTime.value}}s</label>
      <div>
        <input class="fld"
               (input)="settingsForm.valid && gameStarted ? restartGame() : setLeftTime()"
               [class.invalid]="settingsForm.controls.gameTime.invalid && !settingsForm.controls.gameTime.untouched"
               id="gameTime" type="number" formControlName="gameTime">
      </div>
    </div>
  </div>
  <div>
    <div>
      <label class="label" for="fallingFrequency">Score: {{scorePoints}}</label>
      <div>
        <button type="submit"
                [disabled]="!settingsForm.valid">
          Start game
        </button>
      </div>
    </div>
  </div>
</form>




